html
  head
    style(type='text/css').
      body {
        display: flex;
        background: #fefefe;
      }
      video {
        filter: url(#myFilter);
        border: 3px solid black;
        max-width: 400px;
      }
      .messages {
        white-space: pre;
      }
  body
    .videos
    .message-panel
      input(type='text', onchange='sendMessage()')
      .messages
    svg
      filter#myFilter
        feTurbulence(type='turbulence', baseFrequency='0.05', numOctaves='1', result='turbulence')
        feDisplacementMap(in2='turbulence', in='SourceGraphic', scale='4', xChannelSelector='R', yChannelSelector='G')
    script(type='text/javascript').
      require('./renderer.js')