html
  head
    style(type='text/css').
      video {
        filter: url(#myFilter);
        border: 3px solid black;
      }
  body
    h1 buddy buddy buddy
    video
    svg
      filter#myFilter
        feTurbulence(type='turbulence', baseFrequency='0.05', numOctaves='2', result='turbulence')
        feDisplacementMap(in2='turbulence', in='SourceGraphic', scale='20', xChannelSelector='R', yChannelSelector='G')
    script(type='text/javascript').
      require('./renderer.js')